body {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}

#mapBox {
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  border-radius: 3px;
  
}

.cardMap {
  position: relative;
  height: 70vh;
}

.alert.alert-success.fade.show {
  margin-bottom: 0;
}

.alertWrapper {
  width: 50vw;
  margin: 10px auto 0;
}
